/*Metz: added override css file*/
/*centers images in fig shortcodes*/
.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
/*centers captions in fig shortcodes*/
.figcaption {
    padding-top: 10px;
    text-align: center;
    font-weight: normal;
    color: black;
}

.saturn-shape {
    padding-left: 45px;
    padding-right: 45px;
}


article.box2:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition-duration: .75s;
}

