<!--Metz: copied content.html from partials/single - for blog format-->
<!--Metz: Added partials for banner header-->
<!--Metz: replace section below with blog template from contivpp.io blog-->
<!--added github-markdown-css to partials/css.html for similar format above -->
{{ partial "css.html" . }}
{{ partial "navbar.html" . }}
{{ partial "navbar-clone.html" . }}

<!--Metz: Commented out this section and replaced with class = "post" for similar format above-->
<!--<section class="section is-medium">-->
  <!--<div class="container">-->
    <!--<div class="columns">-->
      <!--<div class="column is-centered-tablet-portrait">-->
        <!--<h1 class="title section-title">{{ .Title }}</h1>-->
        <!--<h5 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h5>-->
        <!--<div class="divider"></div>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;{{ .Content | markdownify }}&ndash;&gt;-->
    <!--<div class="block markdown-body">-->
      <!--<p>{{ .Content | markdownify }}</p>-->
    <!--</div>-->
    <!--<script>console.log({{"in splash/content"}})</script>-->
  <!--</div>-->
<!--</section>-->

<div class="post">
  <!-- Wrapper Start -->
  <section class="section is-medium">
    <div class="container">
      <!--<div class="columns">-->
        <!--<div class="column is-centered-tablet-portrait">-->
          <!--<h1 class="title section-title">{{ .Title }}</h1>-->
          <!--<h5 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h5>-->
          <!--<div class="divider"></div>-->
        <!--</div>-->
      <!--</div>-->
      <!--Metz: applied markdown-body class to content-->
      <div class="block markdown-body" style="font-size: 20px">
        <p>{{ .Content | markdownify }}</p>
      </div>
      <script>console.log({{"in the cnf html"}})</script>
    </div>
  </section>
</div>

<div class="oauth">
  <p><a href="#" id="login">Authenticate</a></p>
  <p id="output"></p>
  <script>
    const anchorTag = document.getElementById('login')
    const outputText = document.getElementById('output')
    anchorTag.addEventListener('click', (e) => {
      e.preventDefault()
      const authenticator = new netlify.default ({})
      authenticator.authenticate({provider:"github", scope: "user"}, (err, data) => {
        err ? outputText.innerText = "Error Authenticating with GitHub: " + err : 
        outputText.innerText = "Authenticated with GitHub. Access Token: " + data.token
      })
    })
  </script>
</div>

{{ if .Params.sidebar }}
{{ partial "single/sidebar.html" . }}
{{ end }}

{{ partial "javascript.html" . }}
