{{- $section2 := .Site.Params.section2 }}
{{- $title    := index $section2 "title" }}
{{- $subtitle := index $section2 "subtitle" }}
{{- $features := index $section2 "features" }}
<section class="section">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>

      <div class="content-wrapper">
        <div class="columns is-multiline">
        {{- range $features }}
          <div class="column is-half">
              <article class="media icon-box box" style="align-items:center">
                <figure class="media-left">
                  <!--Metz - replace immage - section2 with style="width:80px"-->
                  <p class="image" >
                    <img src="{{ printf "/images/illustrations/icons/%s.svg" .icon | relURL }}">
                  </p>
                </figure>
                <!--Metz removed mt-50 is below-->
                <div class="media-content">
                  <div class="content">
                    <p>
                      <span class="icon-box-title">{{ .title }}</span>

                      <span class="icon-box-text">{{ .text }}</span>
                    </p>
                  </div>
                </div>
              </article>
          </div>
        {{- end }}
      </div>
  </div>
</section>